<div class="welcome-container">
  <div class="logo-title">
    <img src="assets/images/dashive.jpeg" alt="Dashive Logo" class="logo-img">
    <h1>DashHive</h1>
  </div>

  <div class="button-group">
    <a routerLink="/home">Home</a>
    <a routerLink="/login">Login</a>
    <a routerLink="/register">Register</a>
  </div>
</div>
<div class="tag-line">
<h1 style="text-align: center;color: aliceblue;font-size:10vh;" ><b>Welcome to DashHive</b></h1>
</div>

<img src="assets/images/hero-page.jpg" alt="Welcome Image" style="position: fixed; top: 0; left: 0; width: 100vw; height: 200vh; object-fit: cover; z-index: -1;">
 <app-footer></app-footer>

